body {
  background-color: skyblue;
  margin: 0;
  font-family: comic sans MS;
}
div{
  background-color: red;
  height: 3.125rem;
  margin: 0px;
  background-repeat: no-repeat;
  background-position: 25rem;
}

li{
  display:inline-block;
  background-color: orange;
  height: 1,875rem;
  margin: 0;
  padding: 0.3125rem;
  line-height: 1.875rem;
}

li:hover{background-color: yellowgreen}
}

p{
  width: 21.875rem;
  background-color: pink;
  padding:0 1.5625rem;
  margin: 0;
}

h1{
  border:  0.125rem yellow;
  width: 21.875rem;
  background-color: cyan;
  padding:0 1.5625rem;
  font-size: 2.5rem;
}


a{
  text-decoration: none;
  color: white;
}
#primera{
  height: 12.5rem;


}
#segona{
  height: 34.375rem;
  background-image:url(img/img-hero-full-list.png);


}
#tercera{
  height: 40.0625rem;
  background-image: url(img/allinone.jpg);

}
#quarta{
  height: 31.25rem;
  background-image: url(img/curator-short.png);

}
#cinquena{
  height: 34.375rem;
  background-image:url(img/mobile-home.png);
}
#sisena{
  height: 34.375rem;
  background-image:url(img/anywhere.png);
}
#setena{
  height: 40.1875rem;

}
#vuitena{
  height: 12.5rem;
  text-align: center;
  padding: 3.125rem;

}
#boto {
  /*---*/
  background-color: violet;
  height: 4.375rem;
  width: 4.375rem;
/*----POSICIONAMENT----*/
  position: fixed;
  bottom: 3.125rem;
  right: 6.25rem;
/*----text----*/
  border-radius: 2.1875rem;
  box-shadow: 0.625rem 0.625rem 0.625rem black;
  text-align: center;
  line-height: 4rem;
  font-size: 1.25rem;
  background-image: url(img/sources.png);background-position: -229px -17px;
  opacity: 0.7;



}
.blanc{
  background-color: #FFF;
}
.verda{
  background-color: #6C3;
}
.fosca{
  background-color: #333;
}
.clara{
  background-color: #EEECCC;
}

@media screen and(max-width: 60rem) {
  div{
    background-image: url();
  }
  li{
    display: block;
    background-color: orange;
    height: 1.875rem;
    margin: 0 0 0 -2.5rem;
    padding: 0.3125rem;
    line-height: 1.875rem;
  }
  #primera{
      height: 16.875rem;
    }

    font-size:









/* -------- APUNTS ----------




padding:
padding-top:
padding-bottom:
padding-left:
padding-right:

border:
border-top: 5px
border-right:7px
border-bottom:9px
border-left:3px

border:5px 7px 9px 3px



margin:
margin-top:
margin-bottom:
margin-left:
margin-right







element

width


display:

inline (en linea), tenen la mida que tenen, es coloquen un al costat de l'altre

block (en bloc). Els hi podem canviar la mida, es coloquen un a sobre de l'altre

POSICIONAMENT css
position static
position relative
position fixed
